Спасибо за регистрацию в онлайн-кинотеатре BestWatch, <%= @user.login %>
===============================================

Вы сделали правильный выбор, надеемся, что вскоре вы станете нашим постоянным клиентом

<p>
Чтобы продолжить, пройди по ссылке ниже
  <%= link_to 'Подвердить', confirm_email_user_url(@user.confirm_token, email: @user.email) %>
</p>

Всего самого наилучшего, хорошего дня!